@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Rubik', sans-serif;
  font-size: var(--body1);

  /* Font Sizes */
  --ratio: 1.5; /* Perfect Fifth from: https://type-scale.com/ */
  --title: calc(var(--header1) * var(--ratio));
  --header1: calc(var(--header2) * var(--ratio));
  --header2: calc(var(--body1) * var(--ratio));
  --body1: 18px;
  --body2: 16px;

  /* Font Weights */
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  /* Colors */
  --white: #fff;
  --gray-dark: #4e4a46;
  --gray-light: #8f8f8f;

  --black: #000;
  --lighter-blue: #44a4d7;
  --light-blue: #3382c1;
}
