@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */

  /* font-size: 62.5%; 10px */
  font-family: 'Rubik', sans-serif;

  /* Colors */
  --white: #fff;
  --gray-dark: #4e4a46;
  --gray-light: #8f8f8f;

  --black: #000;
  --lighter-blue: #44a4d7;
  --light-blue: #3382c1;

  --orange-light: #ffdfb1;
  --orange-background: #ffca84;
  --orange-solid: #ff9f47;
  --orange-bold: #db6900;
  --red-bold: #ee0017;
  --red-light: #f8616d;
  --green: #007500;

  /* Font Sizes */
  --title: 4rem;
  --header1: 3.6rem;
  --header2: 2.4rem;
  --default: 1.6rem;
  --secondary: 1.4rem;

  /* Font Weights */
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}
