.container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 120px 24px;
  max-width: 900px;
  margin: 72px auto;
  color: var(--white);
  background-color: var(--dark-blue);
  overflow: hidden;
}

.container .text {
  margin-bottom: 48px;
  line-height: 1.5;
}

.topicsList {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 32px;
  margin-bottom: 50px;
}

.topicContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 90px;
  padding: 1rem;
  background-color: var(--lighter-blue);
  color: var(--dark-blue);
}

.topicContainer p {
  text-align: center;
}

.button {
  border-radius: 30px;
  align-self: center;
  width: 300px;
  height: 70px;
  background-color: skyblue;
}

.button:hover {
  cursor: pointer;
  background-color: blue;
}
