.container {
  background-color: skyblue;
  padding: 10% 15%;
  overflow: scroll;
}

.topicsList {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 80px 80px;
  grid-gap: 75px;
}

.topicContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 80px; */
  padding: 1rem;
  background-color: yellow;
}

.topicContainer p {
  text-align: center;
}
